<div class="general-layout fixed-footer-included">
  <header-campaigner-account></header-campaigner-account>
  <div class="general-layout-content">
    <div class="account-layout">
      <div class="account-layout-header clearfix">
        <h2 class="account-layout-title">{{'My account' | translate}}</h2>
      </div>
      <div class="general-layout-secondary-nav">
        <ul class="general-layout-secondary-nav-list">
          <li class="general-layout-secondary-nav-item active">
            <a href="#">{{'Billing history' | translate}}</a>
          </li><!-- /.general-layout-secondary-nav-item -->
          <!-- <li class="general-layout-secondary-nav-item">
            <a href="#">{{'Plan / Options' | translate}}</a>
          </li> --><!-- /.general-layout-secondary-nav-item -->
        </ul><!-- /.general-layout-secondary-nav-list -->
      </div>
      <div class="row">
        <div class="container">
          <div class="account-layout-container">
            <div class="row">
              <div class="invoice-wrapper">
                <div class="invoice-header clearfix">
                  <ng-container *ngFor="let creditCard of creditCards">
                    <div class="col-sm-6 col-xs-12" *ngIf="creditCard.attributes.default">
                      <div class="billing-payment-type selected clearfix">
                        <div class="billing-payment-type-item logo">
                          <span class="streamline-icon streamline-icon-credit-card"></span>
                        </div>
                        <div class="billing-payment-type-item billing-account">
                          <div class="service">{{'Credit Card' | translate}}</div>
                          <div class="user">{{creditCard.attributes.brand | uppercase}} {{creditCard.attributes.expYear}}/{{creditCard.attributes.expMonth}}</div>
                        </div><!-- /.billing-account -->
                        <div class="billing-payment-type-item control">
                          <span class="streamline-icon streamline-icon-check-circle-2"></span>
                        </div>
                      </div>
                    </div>
                  </ng-container>
                  <div class="col-sm-6 col-xs-12">
                    <div class="invoice-header-select">
                      <div class="form-group">
                        <span class="form-label">{{'From' | translate}}</span>
                        <div class="general-select-wrapper">
                          <ng2-datepicker (outputEvents)="handleStartDatepickerEvent($event)"
                            [options]="{maxDate: now, initialDate: ago, format: 'MM/DD/YYYY'}">
                          </ng2-datepicker>
                        </div>
                      </div>
                      <div class="form-group">
                        <span class="form-label">{{'To' | translate}}</span>
                        <div class="general-select-wrapper">
                          <ng2-datepicker (outputEvents)="handleEndDatepickerEvent($event)"
                            [options]="{maxDate: now, initialDate: now, format: 'MM/DD/YYYY'}">
                          </ng2-datepicker>
                        </div>
                      </div>
                    </div><!-- /.invoice-header-select -->
                  </div>
                </div><!-- /.invoice-header -->

                <div class="invoice-content">
                  <div class="invoice-table-wrapper table-responsive" *ngIf="invoices.length">
                    <table class="table table-striped table-hover">
                      <thead>
                        <tr>
                          <th>
                            <span class="table-cell-text">{{'INVOICE' | translate}}</span>
                          </th>
                          <th>
                            <span class="table-cell-text">{{'DATE' | translate}}</span>
                          </th>
                          <th>
                            <span class="table-cell-text">{{'TOTAL' | translate}}</span>
                          </th>
                          <th class="hidden">
                            <span class="table-cell-text">{{'TAX' | translate}}</span>
                          </th>
                          <th class="download-column">
                            <span class="table-cell-text">{{ 'ACTIONS' | translate }}</span>
                          </th>
                        </tr>
                      </thead>
                      <tbody>
                        <ng-container *ngFor="let invoice of invoices">
                          <tr>
                            <td>
                              <span class="table-cell-text">{{ invoice.id }}</span>
                            </td>
                            <td>
                              <span class="table-cell-text">{{ invoice.attributes.createdAt | date: 'MM/dd/yyyy'}}</span>
                              <span class="table-cell-text hidden"> {{ 'at' | translate }} {{ invoice.attributes.createdAt | date: 'h:m a'}}</span>
                            </td>
                            <td>
                              <span class="table-cell-text">{{ invoice.attributes.currency.toLowerCase() === 'usd' ? '$' : invoice.attributes.currency }} {{ invoice.attributes.totalAmount }}</span>
                            </td>
                            <td class="hidden">
                              <span class="table-cell-text">{{ invoice.attributes.currency.toLowerCase() === 'usd' ? '$' : invoice.attributes.currency }} {{ invoice.attributes.taxAmount }}</span>
                            </td>
                            <td>
                              <span class="download">
                                <a (click)="downloadInvoice(invoice.id)" class="streamline-icon streamline-icon-download-2"></a>
                              </span>
                            </td>
                          </tr>
                        </ng-container>
                      </tbody>
                    </table>
                  </div><!-- /.invoice-table-wrapper -->
                </div><!-- /.invoice-conteint -->
              </div><!-- /.invoice-wrapper -->
            </div><!-- /.row -->
          </div><!-- /.account-layout-container -->
        </div>
      </div>
    </div>
  </div>
</div>
