@import "vendor/bootstrap/_bootstrap";
@import "../../../node_modules/nouislider/distribute/nouislider.min.css";
@import "partials/main.scss";
@import "partials/fonts.scss";
@import "partials/streamline-font-icons.scss";
@import "partials/dev.scss";
@import "../../../node_modules/ng2-toastr/bundles/ng2-toastr.min.css";
@import "../../../node_modules/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css";
@import "../../../node_modules/select2/dist/css/select2.css";
@import "partials/dashboard.scss";