	.general-dashboard-intro .campaign-option-selector {
		padding-top: 15px;
	}

	.general-dashboard-intro .campaign-option-selector .instruction {
		color: #484F57;
		font-weight: 600;
	}	

	.general-dashboard-intro .campaign-option-selector:first-child {
		padding-left: 0;
	}

	/* Campaigns */
	.general-dashboard-campaign {
		margin-bottom: 20px;
	}

	.general-dashboard-campaign-inner {
		height: 100px;
		background: #fff;
		border-radius: 4px;
		-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);
		box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.5);		
	}

	.general-dashboard-campaign-inner.waiting {
		opacity: 0.5;
	}

	.general-dashboard-campaign-inner .status {
		width: 16px;
		height: 16px;
		border-radius: 50%;
		border: 3px #fff solid;
		background: #fff;
		position: absolute;
    left: 8px;
    top: 42px;
    z-index: 1;
	}

	.general-dashboard-campaign-inner .status.open {
		background: #7ED321;
	}

	.general-dashboard-campaign-inner .status.closed {	
		background: #FA485E
	}

	.general-dashboard-campaign-inner .status.waiting {
		background: #F99700
	}

	.general-dashboard-campaign-inner .logo {
		height: 100%;
		border-right: 1px solid #F7F6F8;
		text-align: center;
    white-space: nowrap;    
    text-align: center;
	}

	.general-dashboard-campaign-inner .logo .helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
	}	

	.general-dashboard-campaign-inner .logo img {
		vertical-align: middle;
		max-height: 100px;
	}

	.general-dashboard-campaign-inner .name {
    height: 100%;
    padding-top: 25px;
    padding-left: 30px;
	}

	.general-dashboard-campaign-inner .name p {
		font-size: 18px;
		color: #0B1726;
		margin-bottom: 6px;
		font-weight: 600;
	}

	.general-dashboard-campaign-inner .name p.detail {
		font-size: 12px;
		color: #484F57;
		margin: 0;
		font-weight: 400;
	}

	.general-dashboard-campaign-inner .details {
		height: 100%;
    padding-left: 0;
    padding-right: 0;		
	}

	.general-dashboard-campaign-inner .details .single {
		height: 100%;
		color: #8E8E92;
		display: flex;
    justify-content: center;
    padding-left: 0;
    padding-right: 0;
	}

	.general-dashboard-campaign-inner .details .single .content {
    align-self: center;
    height: 44px;
    border-left: 1px solid rgba(142, 142, 146, 0.1);
    text-align: center;
    width: 100%;
		vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
	}

	.general-dashboard-campaign-inner .action {
		height: 100%;
	}

	.general-dashboard-campaign-inner .action.vert-middle {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
		padding-right: 0;
	}	

	.general-dashboard-campaign-inner .action p {
		margin-bottom: 0;
		z-index: 1;
	}

	.general-dashboard-campaign-inner .action p.info {
		color: #779BF7;
		position: relative;
		z-index: 1;
	}

	.general-dashboard-campaign-inner.waiting .action p.info {
		color: #8E8E92;
		z-index: 1;
	}	

	.general-dashboard-campaign-inner .action p a {
		color: #8E8E92;
		text-decoration: underline;
		font-size: 12px;
    position: relative;
    z-index: 1;		
	}

	.general-dashboard-campaign-inner .action p a.btn {
		margin-top: 20px; 
		height: 38px;
    background: #779BF7;
    border-radius: 55px;
    color: #fff;
    padding: 11px 16px;		
    text-decoration: none;
    margin-bottom: 10px;
    position: relative;
    z-index: 1;        
	}

	/* Overlay to show on hover */
	.general-dashboard-campaign .general-dashboard-campaign-inner .general-dashboard-campaign-overlay {
		display: none;
		position: absolute;
		left: 0;
		top: 0;
		height: 100%;
	}

	.general-dashboard-campaign .general-dashboard-campaign-inner:hover .general-dashboard-campaign-overlay {
		display: inline-block;
	}

	.general-dashboard-campaign .general-dashboard-campaign-inner .general-dashboard-campaign-overlay-inner {
		background: rgba(11, 23, 38, 0.9);
		-webkit-box-shadow: 0px 0px 10px 0px rgba(145,147,148,0.5);
		-moz-box-shadow: 0px 0px 10px 0px rgba(145,147,148,0.5);
		box-shadow: 0px 0px 10px 0px rgba(145,147,148,0.5);		
		width: 100%;
		height: 100%;
		border-radius: 4px;
		display: none;
	}

	.general-dashboard-campaign .general-dashboard-campaign-inner:hover .general-dashboard-campaign-overlay-inner {
		display: inline-block;
	}

	.general-dashboard-campaign-overlay-inner .info-detail {
    height: 100%;
    padding-top: 25px;
	}

	.general-dashboard-campaign-overlay-inner .info-detail:first-child {
    padding-left: 75px;
	}	

	.general-dashboard-campaign-overlay-inner .info-detail p.info {
		font-size: 30px;
		color: #fff;
		margin-bottom: -3px;
	}

	.general-dashboard-campaign-overlay-inner .info-detail p.detail {
		color: rgba(255, 255, 255, 0.7);
	}

	/* Join new campaign */
	.join-new-campaign-inner {
		height: 100px;
		border: 2px dashed #D8D8D8;
		color: #B3BAC7;
		font-size: 16px;
		padding-top: 44px;
	}

	/* Modals */
	.leave-campaign-modal p.note {
		color: #779BF7;
		font-size: 12px;
		font-style: italic;
		margin-bottom: 30px;
	}

	.leave-campaign-modal .general-modal-title {
		padding-top: 0;
	}

	.leave-campaign-modal .general-modal-container {
		padding-bottom: 0;
	}

	.leave-campaign-modal form select {
		color: #8E8E92;
		border: none;
		border-bottom: 1px solid #D8D8D8;
		border-radius: 0;
		margin-bottom: 20px;
		-webkit-appearance: none; /* for removing border radius */
	}

	.leave-campaign-modal form textarea {
		padding-top: 15px;
		padding-left: 15px;
		height: 80px;
		margin-bottom: 25px;
	}

	.leave-campaign-modal form .btn {
		color: #fff;
		border-radius: 50px;
		width: 120px;
		height: 33px;
		background-color: #779BF7;
	}
