<div class="general-dashboard-wrapper">
	<div class="general-dashboard-wrapper-instruction steps col-md-9">
		<div class="general-dashboard-wrapper-instruction-inner">
			<div class="general-dashboard-wrapper-instruction-inner-title">
				{{ 'How does Upcall work?' | translate }}
			</div>
			<div class="general-dashboard-wrapper-instruction-inner-content row">
				<div class="step col-md-3">
					<span class="number">1</span>
					<span class="info">{{ 'Browse through available campaigns' | translate }}</span>
				</div>
				<div class="step col-md-3">
					<span class="number">2</span>
					<span class="info">{{ 'Apply to the ones you like' | translate }}</span>
				</div>
				<div class="step col-md-3">
					<span class="number">3</span>
					<span class="info">{{ 'Get approved' | translate }}</span>
				</div>
				<div class="step col-md-3">
					<span class="number">4</span>
					<span class="info">{{ 'Start making awesome phone calls' | translate }}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="general-dashboard-wrapper-instruction video col-md-3">
		<div class="general-dashboard-wrapper-instruction-inner">
			<iframe src="https://player.vimeo.com/video/169203808?title=0&byline=0&portrait=0" width="100%" height="225px" frameborder="0"
				webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
		</div>
	</div>
	<div class="general-dashboard-wrapper-instruction large duties col-md-6">
		<div class="general-dashboard-wrapper-instruction-inner">
			<div class="general-dashboard-wrapper-instruction-inner-title">
				{{ 'What to keep in mind' | translate }}
			</div>
			<div class="general-dashboard-wrapper-instruction-inner-content row">
				<div class="duty col-md-4">
					<span class="icon streamline-icon streamline-icon-smiley-smile-4"></span>
					<span class="info">{{ 'Keep up the positive energy &amp; attitude' | translate }}</span>
				</div>
				<div class="duty col-md-4">
					<span class="icon streamline-icon streamline-icon-target"></span>
					<span class="info">{{ 'Mark call outcome correctly' | translate }}</span>
				</div>
				<div class="duty col-md-4">
					<span class="icon streamline-icon streamline-icon-file-checklist"></span>
					<span class="info">{{ 'Familiarize yourself with their product &amp; company' | translate }}</span>
				</div>
				<div class="duty col-md-4">
					<span class="icon streamline-icon streamline-icon-file-checklist"></span>
					<span class="info">{{ 'Dispose calls properly &amp; add notes when appropriate' | translate }}</span>
				</div>
				<div class="duty col-md-4">
					<span class="icon streamline-icon streamline-icon-smiley-smile-4"></span>
					<span class="info">{{ 'Find a calm and quiet place to make your calls' | translate }}</span>
				</div>
				<div class="duty col-md-4">
					<span class="icon streamline-icon streamline-icon-smiley-smile-4"></span>
					<span class="info">{{ 'Remember to be polite &amp; professional' | translate }}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="general-dashboard-wrapper-instruction large payment-system col-md-6">
		<div class="general-dashboard-wrapper-instruction-inner">
			<div class="general-dashboard-wrapper-instruction-inner-title">
				{{ 'How does payment work?' | translate }}
			</div>
			<div class="general-dashboard-wrapper-instruction-inner-content row">
				<div class="item col-md-6">
					<p class="question">{{ 'FREQUENCY' | translate }}</p>
					<p class="answer">{{ 'As often as you like, no more than once per week (min. $25)' | translate }}</p>
				</div>
				<div class="item col-md-6">
					<p class="question">{{ 'AMOUNT' | translate }}</p>
					<p class="answer detail">{{ '$0.25 per minute for answered calls plus commissions &amp; tips' | translate }}</p>
					<ul class="hidden">
						<li>Beginner</li>
						<li>Advanced</li>
						<li>Expert</li>
					</ul>
				</div>
				<div class="item col-md-6">
					<p class="question">{{ 'METHOD' | translate }}</p>
					<p class="answer">{{ 'Via Paypal' | translate }}</p>
				</div>
				<div class="item action col-md-6">
					<div class="inner">
						<p class="question">{{ 'When can I work?' | translate }}</p>
						<p class="answer">{{ 'Weekdays (usually 6am to 6pm ET)' | translate }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="general-dashboard-wrapper-instruction large faq col-md-6">
		<div class="general-dashboard-wrapper-instruction-inner">
			<div class="general-dashboard-wrapper-instruction-inner-title">
				FAQ
			</div>
			<div class="general-dashboard-wrapper-instruction-inner-content">
				<div class="faq-single">
					<div class="faq-title">
						What if I have questions about the campaign?
						<button class="expander" type="button" data-toggle="collapse" data-target="#faq1" aria-expanded="false" aria-controls="faq1">
							<span class="caret"></span>
						</button>
					</div>
					<div class="faq-text collapse in" id="faq1">
					  Upcall features a chatroom designed for Upcallers and campaigners to communicate via text and audio chat. You can find it in the lower corner of your browser as well as in the top menu.
					</div>
				</div>
				<div class="faq-single hidden">
					<div class="faq-title">
						Lorem ipsum?
						<button class="expander" type="button" data-toggle="collapse" data-target="#faq2" aria-expanded="false" aria-controls="faq2">
							<span class="caret"></span>
						</button>
					</div>
					<div class="faq-text collapse" id="faq2">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
						irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
						cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>
				<div class="faq-single hidden">
					<div class="faq-title">
						Lorem ipsum?
						<button class="expander" type="button" data-toggle="collapse" data-target="#faq3" aria-expanded="false" aria-controls="faq3">
							<span class="caret"></span>
						</button>
					</div>
					<div class="faq-text collapse" id="faq3">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
						Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute
						irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
						cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="general-dashboard-wrapper-instruction faq col-md-6">
		<div class="get-started">
			<div class="col-md-8">
				<h2>{{ 'Let\'s get started!' | translate }}</h2>
				<p>{{ 'Discover great campaigns and start making money now' | translate }}</p>
			</div>
			<div class="btn-wrap col-md-4">
				<a class="btn btn-default" (click)="sign()">
					<span class="text">{{ 'CALL NOW' | translate }}</span>
					<span class="icon streamline-icon streamline-icon-arrow-right-12"></span>
				</a>
			</div>
		</div>
	</div>
</div>