<div class="general-layout">
    <div class="general-dashboard-wrapper">

        <!-- Call Contacts -->
        <div class="call-box green">
            <div class="call-box-inner">
                <span class="call-icon">
					<span class="icon streamline-icon streamline-icon-phone-52"></span>
				</span>
                <span class="call-title">
					 Call Contacts
				</span>
                <span class="arrow-right">
					<span class="icon streamline-icon streamline-icon-arrow-right-12"></span>
				</span>
            </div>
        </div>
        <!-- /Call Contacts -->

        <!-- Call -->
        <div class="call-box green hasdetail">
            <div class="call-box-inner">
                <span class="call-icon">
					<span class="icon streamline-icon streamline-icon-phone-52"></span>
				</span>
                <span class="call-title">
					 Call
				</span>
                <span class="arrow-right">
					<span class="icon streamline-icon streamline-icon-arrow-right-12"></span>
				</span>
            </div>

            <div class="call-box-detail">
                <div class="call-box-detail-control">
                    <span data-toggle="collapse" data-target="#callHistory" aria-expanded="false" aria-controls="callHistory">
						Call History <span class="icon streamline-icon streamline-icon-arrow-right-12 arrow-up"></span>
					</span>
                </div>

                <div id="callHistory" class="call-box-detail-content collapse">
                    <table>
                        <tr>
                            <td class="col-1"> <span class="icon streamline-icon streamline-icon-phone-call-message orange" style="font-size: 18px;"></span> </td>
                            <td class="col-2"> Jan 24, 2015 </td>
                            <td class="col-3"> 13:45 </td>
                            <td class="col-4"> Alternative </td>
                            <td class="col-5"> <span class="icon streamline-icon streamline-icon-file-2 blue" style="font-size: 17px;"></span> </td>
                        </tr>

                        <tr>
                            <td class="col-1"> <span class="icon streamline-icon streamline-icon-phone-call-message rose" style="font-size: 18px;"></span> </td>
                            <td class="col-2"> Jan 24, 2015 </td>
                            <td class="col-3"> 13:46 </td>
                            <td class="col-4"> Busy </td>
                            <td class="col-5"></td>
                        </tr>

                        <tr>
                            <td class="col-1"> <span class="icon streamline-icon streamline-icon-phone-call-message rose" style="font-size: 18px;"></span> </td>
                            <td class="col-2"> Jan 24, 2015 </td>
                            <td class="col-3"> 10:55 </td>
                            <td class="col-4"> Busy </td>
                            <td class="col-5"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Call -->

        <!-- Calling -->
        <div class="call-box orange hasdetail">
            <div class="call-box-inner">
                <span class="call-icon">
					<span class="icon streamline-icon streamline-icon-phone-call-2"></span>
				</span>
                <span class="call-title">
					 Calling ...
				</span>
            </div>

            <div class="call-box-detail">
                <div class="call-box-detail-control">
                    <span data-toggle="collapse" data-target="#callHistory2" aria-expanded="false" aria-controls="callHistory2">
						Call History <span class="icon streamline-icon streamline-icon-arrow-right-12 arrow-up"></span>
					</span>
                </div>

                <div id="callHistory2" class="call-box-detail-content collapse">
                    <table>
                        <tr>
                            <td class="col-1"> <span class="icon streamline-icon streamline-phone-call-message orange" style="font-size: 17px;"></span> </td>
                            <td class="col-2"> Jan 24, 2015 </td>
                            <td class="col-3"> 13:45 </td>
                            <td class="col-4"> Alternative </td>
                            <td class="col-5"> <span class="icon streamline-icon streamline-icon-file-2 blue" style="font-size: 17px;"></span> </td>
                        </tr>

                        <tr>
                            <td class="col-1"> <span class="icon streamline-icon streamline-icon-phone-call-message rose" style="font-size: 18px;"></span> </td>
                            <td class="col-2"> Jan 24, 2015 </td>
                            <td class="col-3"> 13:46 </td>
                            <td class="col-4"> Busy </td>
                            <td class="col-5"></td>
                        </tr>

                        <tr>
                            <td class="col-1"> <span class="icon streamline-icon streamline-icon-phone-call-message rose" style="font-size: 18px;"></span> </td>
                            <td class="col-2"> Jan 24, 2015 </td>
                            <td class="col-3"> 10:55 </td>
                            <td class="col-4"> Busy </td>
                            <td class="col-5"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Calling -->

        <!-- Ongoing call -->
        <div class="call-box red hasdetail">
            <div class="call-box-inner ongoing">
                <span class="call-title duration">
					 00:02:48
				</span>
                <div class="call-controls col-md-12">
                    <div class="col-md-3">
                        <span class="control-icon streamline-icon streamline-icon-microphone-off"></span>
                    </div>
                    <div class="col-md-3">
                        <span class="control-icon streamline-icon streamline-icon-microphone-off"></span>
                    </div>
                    <div class="col-md-3">
                        <span class="control-icon streamline-icon streamline-icon-microphone-off"></span>
                    </div>
                    <div class="col-md-3">
                        <span class="control-icon streamline-icon streamline-icon-close-call-2"  style="font-size: 12px; padding-top: 16px;"></span>
                    </div>
                </div>
            </div>

            <div class="call-box-detail">
                <div class="call-box-detail-control">
                    <span data-toggle="collapse" data-target="#callHistory3" aria-expanded="false" aria-controls="callHistory3">
						Call History <span class="icon streamline-icon streamline-icon-arrow-right-12 arrow-up"></span>
					</span>
                </div>

                <div id="callHistory3" class="call-box-detail-content collapse">
                    <table>
                        <tr>
                            <td class="col-1"> <span class="icon streamline-icon streamline-icon-phone-call-message orange" style="font-size: 18px;"></span> </td>
                            <td class="col-2"> Jan 24, 2015 </td>
                            <td class="col-3"> 13:45 </td>
                            <td class="col-4"> Alternative </td>
                            <td class="col-5"> <span class="icon streamline-icon streamline-icon-file-2 blue" style="font-size: 17px;"></span> </td>
                        </tr>

                        <tr>
                            <td class="col-1"> <span class="icon streamline-icon streamline-icon-phone-call-message rose" style="font-size: 18px;"></span> </td>
                            <td class="col-2"> Jan 24, 2015 </td>
                            <td class="col-3"> 13:46 </td>
                            <td class="col-4"> Busy </td>
                            <td class="col-5"></td>
                        </tr>

                        <tr>
                            <td class="col-1"> <span class="icon streamline-icon streamline-icon-phone-call-message rose" style="font-size: 18px;"></span> </td>
                            <td class="col-2"> Jan 24, 2015 </td>
                            <td class="col-3"> 10:55 </td>
                            <td class="col-4"> Busy </td>
                            <td class="col-5"></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <!-- /Ongoing call -->

        <!-- Next Call -->
        <div class="call-box next-call inactive">
            <div class="call-box-inner">
                <span class="call-title">
					 Next Call
				</span>
            </div>
        </div>
        <!-- /Next Call -->

        <!-- Next Call -->
        <div class="call-box next-call active">
            <div class="call-box-inner">
                <span class="call-title">
					 Next Call
				</span>
            </div>
        </div>
        <!-- /Next Call -->

        <div class="call-tab">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#t1" aria-controls="t1" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-52"></span>
                </a></li>
                <li role="presentation"><a href="#t2" aria-controls="t2" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-call-2 green"></span>
                </a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="t1">
                    <div class="tab-title">
                        No Conversation
                    </div>
                    <div class="tab-actions">
                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">No Answer</span>
                        </a>

                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">Technical Issue</span>
                        </a>

                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">Busy</span>
                        </a>

                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">No Services</span>
                        </a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="t2">content</div>
            </div>

        </div>
        <!-- /call-tab -->


        <div class="call-tab">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#t21" aria-controls="t21" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-52"></span>
                </a></li>
                <li role="presentation"><a href="#t22" aria-controls="t22" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-call-2 green"></span>
                </a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="t21">
                    <div class="tab-title">
                        Answered
                    </div>
                    <div class="tab-actions">
                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">
	    					Voicemail
	    					<span class="detail">Don't leave a message</span>
                            </span>
                        </a>

                        <a class="tab-action btn">
                            <span class="icon control-icon streamline-icon streamline-icon-close-call-2" style="font-size: 11px;"></span>
                            <span class="type">Wrong number</span>
                        </a>

                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">Not interested</span>
                        </a>

                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-clock-2"></span>
                            <span class="type">Maybe later</span>
                        </a>

                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">Alternative phone</span>
                        </a>

                        <a class="tab-action activated btn">
                            <span class="icon streamline-icon streamline-icon-thumbs-up-1"></span>
                            <span class="type">Goal reached</span>
                        </a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="t22">content</div>
            </div>

        </div>
        <!-- /call-tab -->

        <div class="call-tab">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#t31" aria-controls="t31" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-52"></span>
                </a></li>
                <li role="presentation"><a href="#t32" aria-controls="t32" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-call-2 green"></span>
                </a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="t31">
                    <div class="tab-title">
                        Answered
                    </div>
                    <div class="tab-actions">
                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">
	    					Voicemail
	    					<span class="detail">Don't leave a message</span>
                            </span>
                        </a>

                        <a class="tab-action btn">
                            <span class="icon control-icon streamline-icon streamline-icon-close-call-2" style="font-size: 11px;"></span>
                            <span class="type">Wrong number</span>
                        </a>

                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">Not interested</span>
                        </a>

                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-clock-2"></span>
                            <span class="type">Maybe later</span>
                        </a>

                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">Alternative phone</span>
                        </a>

                        <a class="tab-action inactive btn">
                            <span class="icon streamline-icon streamline-icon-thumbs-up-1"></span>
                            <span class="type">Interested</span>
                        </a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="t32">content</div>
            </div>

        </div>
        <!-- /call-tab -->

        <div class="call-tab">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#t41" aria-controls="t41" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-52"></span>
                </a></li>
                <li role="presentation" class="active"><a href="#t42" aria-controls="t42" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-call-2 green"></span>
                </a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="t41">
                    <div class="tab-title">
                        Answered
                    </div>
                    <div class="tab-actions">
                        <div>
                            <a class="tab-action btn hasmessage">
                                <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                                <span class="type">
		    					Voicemail
	    					</span>
                            </a>

                            <div class="message">Hello can you please call me back on 02/764 17 95? <br>Thank you</div>
                        </div>

                        <a class="tab-action btn">
                            <span class="icon control-icon streamline-icon streamline-icon-close-call-2" style="font-size: 11px;"></span>
                            <span class="type">Wrong number</span>
                        </a>

                        <a class="tab-action btn hilight-red">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">Not interested</span>
                        </a>

                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-clock-2"></span>
                            <span class="type">Maybe later</span>
                        </a>

                        <a class="tab-action btn">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">Alternative phone</span>
                        </a>

                        <a class="tab-action inactive btn">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">Interested</span>
                        </a>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="t42">content</div>
            </div>

        </div>
        <!-- /call-tab -->

        <div class="call-tab">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#t51" aria-controls="t51" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-52"></span>
                </a></li>
                <li role="presentation" class="active"><a href="#t52" aria-controls="t52" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-call-2 green"></span>
                </a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content big">
                <div role="tabpanel" class="tab-pane active" id="t51">
                    <div class="tab-title">
                        Answered
                    </div>
                    <div class="tab-actions">
                        <a class="tab-action btn">
                            <span class="type grey" style="padding-left: 30px;">Back to other Options</span>
                        </a>

                        <a class="tab-action btn hilight-grey">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">Alternative Phone</span>
                        </a>

                        <div class="form">
                            <input type="text" placeholder="Other Name" class="form-control">
                            <input type="text" placeholder="Other Surame" class="form-control">
                            <input type="text" placeholder="Other Phone" class="form-control">
                            <input type="text" placeholder="Other Extension" class="form-control">

                            <p>RATHER CALL THE PERSON ON :</p>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Date</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" placeholder="12/09/2016" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label>Time</label>
                                </div>
                                <div class="col-md-3 time-hours">
                                    <input type="text" placeholder="08" class="form-control">
                                </div>
                                <div class="col-md-1 time-delimeter">:</div>
                                <div class="col-md-3 time-minutes">
                                    <input type="text" placeholder="00" class="form-control">
                                </div>
                            </div>

                            <div class="additional-note">
                                <p>NOTE</p>
                                <textarea class="form-control" rows="6">Add notes about the call</textarea>
                            </div>

                            <p class="save saved">
                                <span class="icon streamline-icon streamline-icon-check-circle-2"></span>
                                Saved
                            </p>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="t52">content</div>
            </div>

        </div>
        <!-- /call-tab -->


        <div class="call-tab">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#t51" aria-controls="t51" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-52"></span>
                </a></li>
                <li role="presentation" class="active"><a href="#t52" aria-controls="t52" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-call-2 green"></span>
                </a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content big">
                <div role="tabpanel" class="tab-pane active" id="t51">
                    <div class="tab-title">
                        Answered
                    </div>
                    <div class="tab-actions">
                        <a class="tab-action btn">
                            <span class="type grey" style="padding-left: 30px;">Back to other Options</span>
                        </a>

                        <a class="tab-action btn hilight-orange">
                            <span class="icon streamline-icon streamline-icon-clock-2"></span>
                            <span class="type">Maybe later</span>
                        </a>

                        <div class="form">
                            <div class="radio">
                                <label><input type="radio" name="optradio">CALL THAT CONTACT BACK ON :</label>
                            </div>
                            <div class="row">
                                <div class="col-md-2">
                                    <label>Date</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" placeholder="12/09/2016" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label>Time</label>
                                </div>
                                <div class="col-md-3 time-hours">
                                    <input type="text" placeholder="08" class="form-control">
                                </div>
                                <div class="col-md-1 time-delimeter">:</div>
                                <div class="col-md-3 time-minutes">
                                    <input type="text" placeholder="00" class="form-control">
                                </div>
                            </div>

                            <div class="additional-note">
                                <p>NOTE</p>
                                <textarea class="form-control" rows="6">Add notes about the call</textarea>
                            </div>

                            <p class="save saved">
                                <button class="btn save">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="t52">content</div>
            </div>

        </div>
        <!-- /call-tab -->

        <div class="call-tab">

            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation"><a href="#t51" aria-controls="t51" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-52"></span>
                </a></li>
                <li role="presentation" class="active"><a href="#t52" aria-controls="t52" role="tab" data-toggle="tab">
                    <span class="icon streamline-icon streamline-icon-phone-call-2 green"></span>
                </a></li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content big">
                <div role="tabpanel" class="tab-pane active" id="t51">
                    <div class="tab-title">
                        Answered
                    </div>
                    <div class="tab-actions">
                        <a class="tab-action btn">
                            <span class="type grey" style="padding-left: 30px;">Back to other Options</span>
                        </a>

                        <a class="tab-action btn hilight-green">
                            <span class="icon streamline-icon streamline-icon-phone-call-message"></span>
                            <span class="type">Interested</span>
                        </a>

                        <div class="form">
                            <p class="follow-up">Follow up :</p>
                            <div class="checkbox">
                                <input type="checkbox" id="chx1"><label for="chx1"><span></span> SEND EMAIL</label>
                            </div>
                            <input type="text" placeholder="Email" class="form-control">

                            <div class="checkbox">
                                <input type="checkbox" id="chx2"><label for="chx2"><span></span> PHONE</label>
                            </div>
                            <input type="text" placeholder="As recorded" class="form-control">

                            <p class="small">Appointment duration : <strong>30min</strong></p>

                            <div class="row">
                                <div class="col-md-2">
                                    <label>Date</label>
                                </div>
                                <div class="col-md-7">
                                    <input type="text" placeholder="Mon 12/09/2016" class="form-control">
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-2">
                                    <label>Time</label>
                                </div>
                                <div class="col-md-4 time-hours">
                                    <input type="text" placeholder="08:00" class="form-control">
                                </div>
                            </div>

                            <div class="additional-note">
                                <p>NOTE</p>
                                <textarea class="form-control" rows="6">Add notes about the call</textarea>
                            </div>

                            <p class="save saved">
                                <button class="btn save">Save</button>
                            </p>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="t52">content</div>
            </div>
        </div>
    </div>
</div>
