	.ratings-wrapper {
		background: #F7F6F8;
	}

	.ratings-wrapper .general-dashboard-intro-single {
		float: left;
		width: 210px;
	}

	/* Dropdown */
	.ratings-options-dropdown .btn{
		border: none;
    background: transparent;
    padding: 0;
    font-weight: 600;
    font-size: 13px;
    width: auto;
	}

	.ratings-options-dropdown .btn span.caret {
		margin-left: 15px;
	}

	/* Stars */
	.stars {
		display: inline-block;
		width: 100px;
		height: 19px;
		background: url('/assets/images/user-rating-stars.png');
		background-repeat: no-repeat;		
		margin: 0 auto;
		margin-bottom: 4px;
	}	

	/* ratings */
	.ratings table {
    border-collapse: separate;
    border-spacing: 0 5px;		
	}

	.ratings table tr.heading th {
		border: none;
    color: #929296;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 0 20px 5px 10px;
	}

	.ratings table tr.heading th.active {
		color: #000;
	}

	.ratings table tr.item td {
		font-size: 13px;
		border: none;
		background: #FFF;		
		padding: 20px 20px 10px 10px
	}

	.ratings table tr.item td.outcome-column {
		width: 150px;
	}

	.ratings table tr.item td.rating-column {
		padding-right: 0;
		width: 210px;
	}

	.ratings table tr.item td.rating-column .icon-rating {
		font-size: 27px;
		margin-left: 20px;
		color: #86acf7;
	}

	.ratings table tr.item td.rating-column .icon {
    font-size: 17px;
    margin-top: 5px;
    margin-right: 3px;
    float: left;		
	}

	.ratings table tr.item td.recording-column {
		width: 315px;
	}

	.ratings .call-recording-control {
    width: 30px;
    height: 30px;
    padding-top: 6px;
    border: 1px solid #c5c5c5;
    float: left;
    border-radius: 50%;
    text-align: center;
	}

	.ratings .call-recording-control.control-active {
		border-color: #779bf7;
	}

	.ratings .call-recording-control .icon-recording {
		font-size: 7px;
		color: #779bf7;
	}

	.ratings .call-recording-progress {
    float: left;
    width: 163px;
    height: 6px;
    border: 1px solid #c5c5c5;
    border-radius: 50px;
    margin-top: 12px;
    margin-left: 5px;    
	}

	.ratings .call-recording-time {
		float: left;
		margin-top: 9px;
    margin-left: 10px;
    font-size: 10px;    
    color: #696969;
	}		

	.ratings table tr.item td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
	}

	.ratings table tr.item td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
	}	

	.ratings .outcome {
    display: inline-block;
    text-align: center;		
    padding: 5px 0 3px 0;
    border-radius: 4px;
    width: 85px;
	}

	.ratings table tr.item td .outcome {
		margin-top: -5px;
	}

	.ratings .outcome.call-back {
		border: 1px solid #c827ed;
		color: #c827ed;
	}

	.ratings .outcome.voicemail {
		border: 1px solid #ff7c0d;
		color: #ff7c0d;
	}

	.ratings .outcome.no-answer {
		border: 1px solid #88888c;
		color: #88888c;
	}

	.ratings-pagination {
		text-align: center;
	}

	.ratings-pagination a {
		color: #6d6a6a;
	}