	.general-dashboard-intro.general-dashboard-intro-small .general-dashboard-intro-single.earnings-intro-single {
		height: auto;
	}

	.reset-earnings-filtering {
		padding-left: 25px;
		margin-top: 3px;
		font-size: 12px;		
	}

	/* Dropdown */
	.earnings-options-dropdown ul {
		max-height: 350px;
		overflow-y: auto;
	}

	.earnings-options-dropdown .btn .caret {
		float: none;
		margin-top: 0;
		margin-left: 10px;
	}

	.earnings-options-dropdown .btn{
		border: none;
    background: transparent;
    padding: 0;
    font-weight: 600;
    font-size: 13px;
    width: 95px;
	}


	/* Earnings */
	.earnings {
		/*height: 350px;*/
	}

	.earnings table {
    border-collapse: separate;
    border-spacing: 0 5px;		
	}

	.earnings table tr.heading th {
		border: none;
    color: #929296;
    font-size: 11px;
    letter-spacing: 1px;
    padding: 0 20px 5px 10px;
	}

	.earnings table tr.heading th.active {
		color: #000;
	}

	.earnings table tr.item td {
		font-size: 14px;
		border: none;
		background: #FFF;
		padding: 15px 20px 5px 10px;
	}

	.earnings table tr.item td:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
	}

	.earnings table tr.item td:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
	}	

	.earnings .outcome {
    display: inline-block;
    text-align: center;		
    padding: 5px 0 3px 0;
    border-radius: 4px;
    width: 85px;
	}

	.earnings table tr.item td .outcome {
		margin-top: -5px;
	}

	.earnings table tr.item td.rating {
    font-size: 20px;
    padding-top: 15px;
	}

	.earnings table tr.item td.rating .streamline-icon {
		margin-right: 5px;
	}

	.earnings table tr.item td.commission .value {
		float: left;
	}

	.earnings table tr.item td.commission .icon {
		float: left;
		margin-left: 9px;
		font-size: 20px;
		margin-top: -3px;		
	}

	.earnings .outcome.call-back {
		border: 1px solid #c827ed;
		color: #c827ed;
	}

	.earnings .outcome.voicemail {
		border: 1px solid #ff7c0d;
		color: #ff7c0d;
	}

	.earnings .outcome.no-answer {
		border: 1px solid #88888c;
		color: #88888c;
	}

	.earnings .no-earnings-msg {
		text-align: center;
		font-size: 20px;
		margin-top: 50px;		
	}

	.table-pagination.earnings-pagination {
	}

	.table-pagination.earnings-pagination a {
		color: #6d6a6a;
	}