	/* Revenues */
	
	.revenues-title {
	    width: 100px;
	}
	/* Override box height */
	
	.general-dashboard-wrapper-box-inner {
	    height: 420px;
	}
	
	.revenues .general-dashboard-wrapper-box-inner {
	    height: 530px;
	}
	/* Revenue dropdown */
	
	.revenues .general {
	    border-right: 1px solid #d8d8d8;
	}
	
	.revenues .revenues-options .btn {
	    border: none;
	    padding: 0 20px;
	    font-size: 12px;
	    color: #97979b;
	}
	
	.revenues .revenues-options .btn:hover {
	    background: transparent;
	}
	
	.revenues .revenues-options .btn .icon {
	    margin-left: 10px;
	}

	.revenues .revenues-options ul {
		max-height: 350px;
		overflow-y: auto;
	}
	
	.revenues .amount {
	    width: 100%;
	    font-size: 46px;
	    margin-bottom: 25px;
	}
	
	.revenues .graph {
	    height: 285px;
	}

	.revenues .graph .chart-control.left {
		position: relative;
		z-index: 999;
		float: left;
		margin-top: -19px;
		cursor: pointer;
	}

	.revenues .graph .chart-control.right {
		float: right;
		margin-top: -19px;
		margin-right: -21px;
		cursor: pointer;
	}	
	
	.revenues .period-selector .btn {
	    border-radius: 30px;
	    background: #f5f5f6;
	    text-align: center;
	    color: #6e747a;
	    font-size: 10px;
	    padding: 5px 25px;
	    margin: 10px;
	}
	
	.revenues .period-selector .btn.active {
	    background: #5e6977;
	    color: #fff;
	}
	
	.revenues .summary {
	    padding: 50px 0;
	}
	
	.revenues .summary .single {
	    width: 100%;
	    float: left;
	    margin-bottom: 40px;
	}
	
	.revenues .summary .icon {
	    width: 30px;
	    height: 30px;
	    margin-left: 30px;
	    margin-top: 5px;
	    font-size: 28px;
	    margin-right: 10px;
	    color: #919195;
	}
	
	.revenues .summary p.main {
	    font-size: 30px;
	    margin-bottom: 0;
	}
	
	.revenues .summary p.detail {
	    color: #a5a5a8;
	}
	/* Call contacts */
	
	.call {
	    float: left;
	    width: 100%;
	    height: 80px;
	}
	
	.call .call-action {
	    background: #7ed321;
	    width: 100%;
	    height: 100%;
	    float: left;
	    border-radius: 5px;
	    color: #fff;
	    padding: 15px 5px 15px 30px;
	}
	
	.call .call-action .icon.call {
	    width: 30px;
	    height: 30px;
	    float: left;
	    margin-right: 20px;
	    margin-top: 17px;
	}
	
	.call .call-action h2 {
	    margin-top: 15px;
	    font-size: 20px;
	    color: #fff;
	}
	
	.call .call-action .call-btn {
	    font-size: 35px;
	    color: #66ad22;
	}
	
	.call .call-action .call-btn a {
	    color: #66ad22;
	}
	/* Balance */
	
	.balance {
	    float: left;
	    width: 100%;
	}
	
	.balance .next-payment {
	    width: 210px;
	    margin: 0 auto;
	    border: 4px solid #c10deb;
	    border-radius: 50%;
	    height: 200px;
	    text-align: center;
	    padding-top: 45px;
	    margin-top: 75px;
	    margin-bottom: 15px;
	}
	
	.balance .next-payment .amount {
	    font-size: 34px;
	    color: #c10deb;
	}
	
	.balance .next-payment .detail {
	    color: #8e8e92;
	    font-weight: 600;
	    margin-bottom: 0;
	    margin-top: 15px;
	}
	
	.balance .next-payment .info {
	    color: #8e8e92;
	    font-style: italic;
	    font-size: 12px;
	    font-weight: 200;
	    margin-top: 5px;
	}
	/* Client Satisfaction */
	
	.client-satisfaction .general-dashboard-wrapper-box-inner-content {
	    padding-bottom: 0;
	}
	
	.client-satisfaction .general-dashboard-wrapper-box-inner-content .campaign {
	    padding-bottom: 0;
	}
	
	.campaigns {
	    float: none;
	    margin-top: -15px;
	}
	
	.campaigns .campaign {
	    /*float: left;*/
	    padding: 15px;
	}
	
	.campaigns .campaign p.title {
	    font-weight: 800;
	    margin-bottom: 2px;
	    font-size: 18px;
	}
	
	.campaigns .campaign p.date {
	    color: #bfc5d0;
	    font-size: 11px;
	}
	
	.campaigns .campaign p.text {
	    margin-bottom: 30px;
	    font-size: 12px;
	    font-weight: 200;
	}
	
	.campaigns .campaign p.text.narrow {
	    padding: 0 20px;
	}
	
	.campaigns .campaign .rating {
		float: none;
		margin-top: 20px;
		bottom: 50px;
		position: absolute;
		width: calc(100% - 28px);
		margin-left: -40px;		
	}

	.campaigns .campaign .rating p.score {
	    font-weight: 600;
	    font-size: 18px;
	}
	
	.campaigns .campaign .rating p.stars {
	    width: 100%;
	    background: none;
	    background-repeat: no-repeat;
	    margin: 0 auto;
	    margin-bottom: 10px;
	    font-size: 18px;
	}
	
	.campaigns .campaign .rating p.category {
	    color: #bfc5d0;
	}
	
	.campaigns .campaign-list-control {
	    width: 25px;
	    background: #e8e8e8;
	    color: #fff;
	    border-radius: 50px;
	    font-size: 10px;
	    padding: 7px;
	    height: 25px;
	    position: absolute;
	    top: 188px;
	}
	
	.campaigns .campaign-list-control:hover {
	    cursor: pointer;
	}
	
	.campaigns .campaign-list-control.left {
	    float: left;
	    left: 28px;
	}
	
	.campaigns .campaign-list-control.right {
	    float: right;
	    right: 28px;
	}
	/* Call Ratings */
	
	.call-ratings .campaigns .campaign .rating p.stars {
	    margin-bottom: 30px;
	}
	
	.call-ratings .campaigns .campaign .player {
	    height: 30px;
	    margin-bottom: 20px;
	    padding: 0 20px;
	}
	
	.call-ratings .campaigns .campaign .player .control {
	    float: left;
	    width: 30px;
	    height: 30px;
	    border: 1px solid #eee;
	    border-radius: 50%;
	    text-align: center;
	    margin-right: 10px;
	    color: blue;
	    padding-top: 6px;
	}
	
	.call-ratings .campaigns .campaign .player .control .icon {
	    color: #779bf7;
	    -ms-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
	    transform: rotate(90deg);
	    font-size: 6px;
	    margin-left: 8px;
	    float: left;
	    margin-top: 5px;
	}
	
	.call-ratings .campaigns .campaign .player .control-progress {
	    width: 250px;
	    height: 8px;
	    border: 1px solid #eee;
	    border-radius: 10px;
	    float: left;
	    margin-top: 10px;
	}
	/* Profile */
	
	.profile .date-time {
	    background: #0b1726;
	    color: #fff;
	}
	
	.profile .date-time p.date {
	    font-size: 22px;
	    margin-bottom: 0;
	}
	
	.profile .profile-progress {
	    width: 300px;
	    height: 8px;
	    float: left;
	    margin: 10px 10px 0 0;
	    background: #eee;
	    border-radius: 10px;
	}
	
	.profile .profile-progress .profile-progress-amount {
	    width: 0;
	    height: 100%;
	    background: #ff7b08;
	    border-radius: 4px;
	}
	
	.profile .profile-progress-percent {
	    background: #ff7b08;
	    color: #fff;
	    text-align: center;
	    padding: 3px 5px;
	    float: left;
	    border-radius: 20px;
	    width: 55px
	}
	
	.profile .general-dashboard-wrapper-box-inner-content p {
	    color: #8e8e92;
	}
	
	.profile .join-action {
	    width: 100%;
	    float: left;
	    margin-top: 30px;
	}
	
	.profile .join-action .join-box {
	    width: 100%;
	    height: 160px;
	    border: 2px dashed #eee;
	    border-style: dashed;
	    border-radius: 5px;
	}
	
	.profile .join-action .join-box .join-do {
	    width: 50px;
	    height: 50px;
	    margin: 0 auto;
	    border: 2px solid #EEE;
	    text-align: center;
	    margin-top: 50px;
	    border-radius: 50%;
	    font-size: 34px;
	    color: #eee;
	}
	/* Leaderboard */
	
	.leaderboard table {
	    width: 100%;
	    margin-bottom: 10px;
	}
	
	.leaderboard table tr.heading {
	    border-bottom: 1px solid #eee;
	}
	
	.leaderboard table tr.heading th {
	    padding-bottom: 10px;
	    text-align: center;
	}
	
	.leaderboard table tr.heading .caret {
	    color: #d8d8d8;
	}
	
	.leaderboard table tr.heading .caret.up {
	    -ms-transform: rotate(180deg);
	    -webkit-transform: rotate(180deg);
	    transform: rotate(180deg);
	}
	
	.leaderboard table tr.heading .caret.active {
	    background: none;
	    color: #000;
	}
	
	.leaderboard table tr.item td {
	    padding: 10px 0;
	    text-align: center;
	    color: #5e6977;
	    font-size: 18px;
	}
	
	.leaderboard table tr.item td.user {
	    width: 230px;
	    text-align: left;
	    font-size: 14px;
	}
	
	.leaderboard table td.user img {
	    width: 35px;
	    height: 35px;
	    margin-left: 45px;
	    margin-right: 10px;
	    border-radius: 50%;
	}
	
	.leaderboard table td.user .status {
	    width: 14px;
	    height: 14px;
	    background: #ccc;
	    position: relative;
	    float: left;
	    left: 85px;
	    top: -2px;
	    border: 1px solid #FFF;
	    border-radius: 50%;
	}
	
	.leaderboard table td.user .status.active {
	    background: #7ed321;
	}
	/* TIP OF THE DAY */
	
	.tip .general-dashboard-wrapper-box-inner-title {
	    background-color: #ff7b08;
	    color: #FFF;
	}
	
	.tip .general-dashboard-wrapper-box-inner-title p {
	    margin-top: 5px;
	    margin-bottom: 0;
	    font-size: 12px;
	}
	
	.tip .general-dashboard-wrapper-box-inner-content p {
	    font-size: 22px;
	    padding-top: 25px;
	}
	
	.tip .action-button {
	    width: 60px;
	    margin: 0 auto;
	    text-align: center;
	    padding: 14px;
	    margin-top: 130px;
	    font-size: 22px;
	    background: rgba(255, 123, 8, 0.39);
	    border-radius: 50%;
	    height: 60px;
	    color: #FFF;
	}
	
	.tip .action-button a {
	    color: #fff;
	}
	
	.tip .action-button .icon {
	    font-size: 32px;
	    font-weight: 700;
	}
	
	.tip .action-button:hover {
	    background: rgba(255, 123, 8, 1);
	}
	/* Your performance */
	
	.your-performance .base {
	    border-right: 1px solid #eee;
	    padding-right: 0;
	}
	
	.your-performance .base .col-md-8 {
	    padding-right: 0;
	}
	
	.your-performance .rank {
	    padding-left: 0;
	}
	
	.your-performance .base p,
	.your-performance .rank p {
	    font-size: 18px;
	    margin-bottom: 20px;
	}

	.your-performance .rank p {
	    font-size: 18px;
	    margin-bottom: 33px;
	}	
	
	.your-performance .icon {
	    width: 20px;
	    height: 20px;
	    float: right;
	    margin-left: 10px;
	    margin-right: 15px;
	    font-size: 27px;
	}
	
	.your-performance .icon.yellow {
	    color: #ffcf07;
	}
	
	.your-performance .icon.rose {
	    color: #d24df0;
	    padding-top: 10px;
	}
	
	.your-performance .icon.orange {
	    color: #ff8821;
	}
	
	.your-performance .base p.title,
	.your-performance .rank p.title {
	    text-align: center;
	    border-bottom: 1px solid #eee;
	    font-size: 13px;
	    padding-bottom: 10px;
	    color: #b5bcc9;
	}